/* dm-serif-text-regular - latin */
@font-face {
  font-family: "DM Serif Text";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/dm-serif-text-v10-latin-regular.woff2") format("woff2"),
    url("../fonts/dm-serif-text-v10-latin-regular.woff") format("woff");
}
/* dm-sans-regular - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/dm-sans-v11-latin-regular.woff2") format("woff2"),
    url("../fonts/dm-sans-v11-latin-regular.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* max-width: 1600px; */
}

.container {
  width: 100%;
  display: flex;
}
body {
  font-family: "DM Sans";
  margin: 0 20px;
}
p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  color: #00486d;
}
.begin {
  width: 1440px;
  height: 51px;
  background: #00486d;
  align-items: center;
}
.begin p {
  text-align: center;
  color: #99b6c5;
  font-size: 18px;
  line-height: 35px;
}
.nav {
  width: 1440px;
  height: 108px;
  background: #f2f6f7;
  display: flex;
}
.logo {
  color: #00486d;
}
.nav_left {
  width: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_left ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav_left a {
  text-decoration: none;
  color: #00486d;
  font-size: 19px;
  line-height: 35px;
  margin-left: 32px;
}
.nav_right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav_right_text {
  display: flex;
  width: 234px;
  height: 59px;
  background: #00486d;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  line-height: 35px;
  align-items: center;
  justify-content: center;
  margin-left: 32px;
}
h1 {
  font-family: "DM Serif Text";
  font-style: normal;
  font-weight: 400;
  color: #00486d;
}
.reprezentation {
  height: 753px;
  width: 1440px;
  background: #e4ecf0;
  display: flex;
  align-items: center;
  margin-bottom: 160px;
}
.reprezentation_left {
  width: 60%;
  align-items: center;
  margin-left: 85px;
  align-content: space-around;
}
.reprezentation_left h1 {
  width: 394px;
  font-size: 55px;
  line-height: 67px;
}
.reprezentation_text {
  width: 563px;
  font-size: 24px;
  line-height: 42px;
}
.repezentation_right {
  width: 40%;
  display: flex;
}
.reprezentation_left_text {
  display: flex;
  width: 234px;
  height: 59px;
  background: #00486d;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  line-height: 35px;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}
.image_buildings {
  height: 753px;
  position: absolute;
  margin-top: 66px;
  left: 774px;
}
.practice {
  width: 1350px;
  height: 650px;
}
.practice_title {
  width: 635px;
  height: 150px;
  font-size: 24px;
  line-height: 42px;
  margin-bottom: 50px;
}
.practice_title h1 {
  font-size: 44px;
  line-height: 53px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.news {
  width: 379px;
  height: 442px;
  border-style: solid;
  border-color: #00486d;
  align-items: center;
  background: #ffffff;
  border: 1px solid #e4ecf0;
  box-shadow: 0px 24px 24px rgba(0, 72, 109, 0.2);
  border-radius: 2px;
  padding-left: 32px;
  margin-bottom: 150px;
}
.news img {
  width: 60px;
  padding-top: 44px;
  padding-bottom: 40px;
}
.news p {
  width: 332px;
  padding-bottom: 12px;
  font-size: 20px;
  line-height: 35px;
}
.content_parent {
  width: 1270px;
  height: 680px;
  background-image: url(../images/IMAGE_man.png);
  margin: auto;
}
.content_2_text {
  width: 379px;
  height: 442px;
  align-items: center;
  background: #00486d;
  padding: 20px;
  position: relative;
  left: 888px;
  top: 238px;
}
.content_2_title {
  display: flex;
  width: 181px;
  height: 59px;
  background: #fff;
  border-radius: 4px;
  color: #00486d;
  font-size: 18px;
  line-height: 35px;
  align-items: center;
  justify-content: center;
  margin-left: 32px;
  margin-top: 60px;
}
.content_2_text h1 {
  color: #fff;
  padding-top: 10px;
}
.content_2_text p {
  padding-top: 10px;
  font-size: 19px;
  line-height: 35px;
}
.content_title {
  color: #fff;
}

.manner {
  width: 1270px;
  height: 620px;
  display: flex;
  align-items: center;
}
.manner_text {
  margin: auto;
}
.manner_text h1 {
  font-size: 32px;
  line-height: 51px;
  width: 723px;
}
.manner_text p {
  text-align: center;
}
.resent {
  width: 1440px;
  height: 938px;
}
.box {
  width: 397px;
  height: 510px;
  font-size: 22px;
  line-height: 33px;
  background: #ffffff;
  border: 1px solid #e4ecf0;
  box-shadow: 0px 24px 24px rgba(0, 72, 109, 0.2);
  border-radius: 2px;
}
.box a {
  text-decoration: none;
  font-size: 19px;
  color: #00486d;
  margin-top: 20px;
  display: inline-block;
}
.box p {
  width: 294px;
}
.box small {
  color: #00486d;
}
.box_text {
  padding: 33px;
}
.resent_boxes {
  display: flex;
  justify-content: space-between;
}
.consultation {
  width: 1440px;
  height: 545px;
  display: flex;
  align-items: center;
  background: #e4ecf0;
}
.question {
  width: 800px;
  height: 250px;
  margin: auto;
  text-align: center;
}
.question_text {
  display: flex;
  width: 234px;
  height: 59px;
  background: #00486d;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  line-height: 35px;
  align-items: center;
  justify-content: center;
  margin: auto;
  vertical-align: middle;
  margin-top: 44px;
}
.question p {
  font-size: 23px;
}
footer {
  /* display: flex; */
  width: 1140px;
  height: 711px;
}
.foter_top {
  width: 1440px;
  height: 660px;
  background: #00486d;
  padding: 120px 53px;
  /* display: flex; */
}
.footer_bottom {
  width: 1440px;
  height: 51px;
  background: #002b41;
}
.logo_bottom {
  color: #fff;
}
.addres {
  width: 300px;
  height: 150px;
  font-size: 19px;
  line-height: 35px;
  color: #99b6c5;
}
.addres a {
  color: #fff;
}
.addres p {
  color: #99b6c5;
}
.addres_right {
  width: 400px;
  height: 200px;
  margin-left: 190px;
}
.addres_right h1 {
  color: #fff;
}
.input {
  width: 377px;
  height: 56px;
}
.wrapper {
  width: 900px;
  height: 250px;
  display: flex;
}
.addres_text {
  display: flex;
  vertical-align: middle;
  margin-bottom: 12px;
}
.addres_text a {
  /* display: inline-block; */
  display: flex;
  color: #99b6c5;
  font-size: 20px;
  line-height: 35px;
  margin-left: 8px;
  text-decoration: none;
  justify-content: space-around;
}

.footer_bottom a {
  color: #99b6c5;
  font-size: 14px;
  line-height: 35px;

  margin-left: 15px;
}

